<head>
  <title>meteor-users</title>
</head>

<body>
	<!-- Navigation is inserted -->
	{{ > navigation}}

	<!-- 
		Additional templates are loaded here
		Each route is responsible for rendering the correct template
	-->
</body>

