<template name="addUsersTemplate">
	<h1>Add a User</h1>

	<form action="" class="addUserForm">
		<input type="text" name="firstName" placeholder="First Name"><br/><br/>
		<input type="text" name="lastName" placeholder="Last Name">
		<button type="submit">Add User</button>
	</form>
</template>