<template name="editUserTemplate">
	<h1>Edit User</h1>

	<form action="" class="editUserForm" method="">
		<input type="text" name="firstName" placeholder="First Name" value="{{firstName}}"><br/><br/>
		<input type="text" name="lastName" placeholder="Last Name" value="{{lastName}}">
		<button type="submit">Save</button>
	</form>
</template>