<template name="userList">
	<h1>Available Users</h1>

	<ul>
		{{#each users}}
			<li><a href="{{pathFor 'users.edit' _id=_id}}">{{ firstName }} {{ lastName }}</a> (<a href="#" class="deleteUser">x</a>)</li>
		{{/each}}
	</ul>
</template>